        /* 室外 */
        .outdoor-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto auto auto;
            gap: 5px;
            margin-bottom: 0.5rem;
        }
